<h2>Your Strategies</h2>
<table class="table m-1">
    <thead>
        <tr>
            <th scope="col">Strategy Name</th>
            <th scope="col">Strategy Type</th>
            <th scope="col">Stock</th>
            <th scope="col">Performance (Investment Value)</th>
            <th scope="col">Next Action</th>
            <th scope="col">Options</th>                        
        </tr>
    </thead>
    <tbody>
        {{#active_strategies}}
        <tr class="m-0">
            <th scope="row">{{strategyName}}</th>
            <td>{{algo}}</td>
            <td>{{stock.ticker}}</td>
            <td id='strategy{{id}}-profit'>{{strategyProfitString}}</td>
            <td id='strategy{{id}}-next-position'>{{strategyNextPositionString}}</td>
            <td id='strategy${strategy.id}-options' nowrap>
                <button class="btn btn-xs m-0 p-0 text-primary" onClick="displayStrategyHistory({{id}}, '{{strategyName}}', true)" style='background-color:transparent;'>
                    <i class="material-icons">history</i>
                </button>
                <button class="btn btn-xs m-0 p-0 text-success" onClick="openEditStrategyModal({{id}})" style='background-color:transparent;'>
                    <i class="material-icons">edit</i>
                </button>
                <button class="btn btn-xs m-0 p-0 text-danger" onClick="openEndStrategyModal({{id}})" style='background-color:transparent;'>
                    <i class="material-icons">remove_circle_outline</i>
                </button>
            </td>                            
        </tr>
        {{/active_strategies}}
        {{#inactive_strategies}}
        <tr class="m-0 text-info inactive-strategy-row" style="display: none;">
            <th scope="row">{{strategyName}}</th>
            <td>{{algo}}</td>
            <td>{{stock.ticker}}</td>
            <td id='strategy{{id}}-profit'>{{strategyProfitString}}</td>
            <td id='strategy{{id}}-next-position'>{{strategyNextPositionString}}</td>
            <td id='strategy{{id}}-options' nowrap>
                <button class="btn btn-xs m-0 p-0 text-primary" onClick="displayStrategyHistory({{id}}, '{{strategyName}}', false)" style='background-color:transparent;'>
                    <i class="material-icons">history</i>
                </button>   
            </td>                         
        </tr>
        {{/inactive_strategies}}
    </tbody>
    <tfoot>
        <tr>
            <th colspan="6" class="text-center">
                <button class="btn btn-xs p-2 btn-primary" onClick="openCreateNewStrategyModal();">
                    Create New Strategy
                </button>
                <button id="show-inactive-strat-btn" class="btn btn-xs p-2 btn-warning" onClick="$('#hide-inactive-strat-btn').show(); $('.inactive-strategy-row').show(); $(this).hide();">
                    Show Inactive Strategies
                </button>
                <button id="hide-inactive-strat-btn" class="btn btn-xs p-2 btn-default" onClick="$('#show-inactive-strat-btn').show(); $('.inactive-strategy-row').hide(); $(this).hide();" style="display: none;">
                    Hide Inactive strategies
                </button>
            </th>
        </tr>
    </tfoot>
</table>